input:checked + svg {
    display: block;
}

.text-gradient {
    background: -webkit-linear-gradient(90deg, #FD3A84, #FFA68D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
